body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.formEmail {
display: flex;
}
.emailContainer{
  background-color: #f4f4f4;
  padding:50px;
}

@media (max-width: 767px) {
  .formEmail {
    display: block;
  }
  .emailContainer{
    padding: 25px;
  }
}